[data]
  github_username = "makeshift"
  gitconfig_user_signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAWr2SKH9Wu+AET//maFYW0BbI9uHnzuG+9XRlloeWsV"
  {{- if (output "sh" "-c" "uname -r" | lower | contains "microsoft") }}
  is_wsl = true
  windows_username = "{{ (output "sh" "-c" "basename $(wslpath $(wslvar USERPROFILE))" | trim) }}"
  {{- else }}
  is_wsl = false
  windows_username = "UNSET"
  {{- end }}
  dynamic_app_download_path = "/usr/local/bin"
