[Unit]
Description=Explainshell docker compose stack
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=%h/.config/services/explainshell
ExecStart=docker compose up -d
ExecStop=docker compose down

[Install]
WantedBy=default.target
